nav li{
    display: inline;
    padding: 5px;
}

nav li:hover{
    background-color: gainsboro;

}

nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration:overline underline ;

}



#as1{

    width: 50%;
    float:right;
}

#pic_back{
    clear: both; 
    /*od tego miejsca sekcja as1 przestaje być pływająca*/
}

#im2{
    display: block;
    
    width: 20%;
    float:right;
}
