
body{
    background-image:  url("../img/background.jpg") ;
}

div{
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
}
/*
table{
    border: 1px solid black;
}
*/

table, th, td{
    margin: auto; /*wyśrodkowanie*/
    border: 1px solid black;
    padding: 4px 4px 4px 8px;
    border-collapse: collapse; /*brak wnętrza obramowania*/
}

th{
    font-variant:small-caps;
}

p{
    text-align: justify;
}

